Clans:

  clearance-adjustment:
    leave: 0
    invite: 1
    kick: 2
    claim: 2
    un-claim: 2
    un-claim-all: 3
    re-name: 2
    setbase: 1
    password: 3

  land-claiming:
    # Allow clan member size and clan bank to decide claim amounts.
    claim-influence:
      allow: true
      ## NORMAL = Depend on a clans bank balance for obtaining land.
      ## LOW = Assist the base multiplier and all other power additions for no / slower bank situations.
      dependence: HIGH

  bank:
    enabled: true
#    starting-balance: "100" # this must be a valid BigDecimal#toString representation

  # Blacklist specified clan names, color codes or worlds.
  list:
    names:
      - nigger
      - faggot
    colors:
      - '&k'
    worlds:
      - world
      - world_nether
      - world_the_end


Formatting:

  Tag-limit: 15
  Prefix:
    Start: '&7['
    Text: '&2Clans'
    End: '&7]&r'
  Style: Wordless
  Ranks:
    NORMAL:
      Full: 'Member'
      Wordless: '•'
    HIGH:
      Full: 'Moderator'
      Wordless: '••'
    HIGHER:
      Full: 'Admin'
      Wordless: '•••'
    HIGHEST:
      Full: 'Owner'
      Wordless: '&4•❂•'

Response:
  clan-create: '&aA new clan named &2&l{0} &awas created.'
  clan-disband: '&cClan &2&l{0} &chas disbanded!'
  clan-invite: '&6{0} &ehas been invited to our clan.'
  clan-invite-out: '&2&l{0} &a has invited you to their clan. Accept with &a''/&7clan &fjoin &8{0} &6{1}'''
  clan-mode-change: '&4{0} changed our friendly-fire to: &c{1}'
  clan-claim: '&3New land has been acquired @ location&7[X={0}, Z={1}]&3.'
  clan-unclaim: '&cLand was unclaimed @ location&7[X={0}, Z={1}]&c.'
  clan-unclaim-all: '&cAll land has been unclaimed.'
  not-in-clan: '&cYou are not in a clan'
  not-in-claim: '&cYou are not in a claim'
  no-clearance: '&cYou don''t have clan clearance.'
  already-in-clan: '&cYou are already a member of a clan!'
  player-in-clan: '&c{0} is already a member of a clan!'
  land-self-owned: '&cYour clan already own''s this land!'
  land-already-owned: '&c{0} owns this land and is more powerful than you!'
